@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Futura';
  src: url(https://cdn.jsdelivr.net/npm/futurya-font@1.0.0/FuturaBT-Medium.ttf)
    format('ttf');
  font-weight: normal;
  font-style: normal;
}

.image-container {
  width: 100%;
}

.image-container div {
  position: unset !important;
}

.image-container image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.markdown-content h1 {
  font-size: 2.25rem;
  font-weight: 700;
  color: black;
  margin-bottom: 24px !important;
  margin-top: 24px !important;
	font-family: "Futura";
}

.markdown-content h2 {
  font-size: 2rem;
  font-weight: 600;
  color: black;
	font-family: "Futura";
  margin-bottom: 24px !important;
  margin-top: 24px !important;
}

.markdown-content h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  margin-bottom: 24px !important;
	font-family: "Futura";
  margin-top: 24px !important;
}

.markdown-content h4 {
  font-size: 1.25rem;
  font-weight: 500;
  color: black;
  margin-bottom: 24px !important;
	font-family: "Futura";
  margin-top: 24px !important;
}

.markdown-content h5 {
  font-size: 1.1rem;
  font-weight: 500;
  color: black;
  margin-bottom: 24px !important;
	font-family: "Futura";
}

.markdown-content p {
  font-size: 1.1rem;
  font-weight: 400;
  color: black;
  margin-bottom: 18px !important;
	font-family: "Futura";
}

.markdown-content ul {
  list-style-type: disc;
  margin-left: 15px;
  margin-bottom: 15px;
  font-size: 1rem;
  font-weight: 400;
  color: black;
	font-family: "Futura";
}
.quiz ul {
	list-style-type: none !important;
}

.markdown-content a {
	color: #00bfff;
	text-decoration: underline;
	font-family: "Futura";
}

.markdown-content code {
	background-color: #2a4555;
	color: #d6e7ff;
	padding: 0.1em 0.2em;
	margin: 0 0.1em;
	border-radius: 0.2em;
	box-decoration-break: clone;
}

/**
 * MIT License
 * Copyright (c) 2021 Ayush Saini
 * Holi Theme for prism.js
 * @author Ayush Saini <@AyushCodes on Twitter>
 */

code[class*='language-'],
pre[class*='language-'] {
	color: #d6e7ff;
	background: #030314;
	text-shadow: none;
	font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
	font-size: 1em;
	line-height: 1.5;
	letter-spacing: .2px;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	text-align: left;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection,
pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
	color: inherit;
	background: #1d3b54;
	text-shadow: none;
}

pre {
	max-height: 200;
}

pre[class*='language-'] {
	border: 1px solid #2a4555;
	border-radius: 5px;
	padding: 1.5em 1em;
	margin: 1em 0;
	overflow: auto;
	
}

:not(pre) > code[class*='language-'] {
	color: #f0f6f6;
	background: #2a4555;
	padding: 0.2em 0.3em;
	border-radius: 0.2em;
	box-decoration-break: clone;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #446e69;
}

.token.punctuation {
	color: #d6b007;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #d6e7ff;
}

.token.selector,
.token.attr-name,
.token.builtin,
.token.inserted {
	color: #e60067;
}

.token.string,
.token.char {
	color: #49c6ec;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #ec8e01;
	background: transparent;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #0fe468;
}

.token.function,
.token.class-name {
	color: #78f3e9;
}

.token.regex,
.token.important,
.token.variable {
	color: #d6e7ff;
}

.button {
  padding: 0.2em 0.6em;
  border-radius: 12px;
  background: #fff;
  display: inline-block;
  font-weight: 600;
  color: #222;
  border-bottom: 0;
  box-shadow: 2px 3px 0 #000000;
  border: 2px solid #222;
  font-size: 20px;
  font-family: 'Ubuntu Mono', monospace;
}


.button-full {
  padding: 0.2em 0.6em;
  border-radius: 12px;
  background: #fff;
  display: inline-block;
  font-weight: 600;
  color: #222;
  border-bottom: 0;
  box-shadow: 2px 3px 0 #000000;
  border: 2px solid #222;
  font-size: 20px;
  font-family: 'Ubuntu Mono', monospace;
	text-align: center;
}

.button:hover,
.button-full:hover {
  color: #222 !important;
  text-shadow: none !important;
  transform: translate(1px, 1px) !important;
  margin: 4px 3px;
  box-shadow: none !important;
}
